@font-face {
    font-family: 'OverusedGrotesk';
    src: url(../assets/fonts/OverusedGrotesk-VF.woff2);
  }

  @font-face {
    font-family: 'GeneralSans';
    src: url('../assets/fonts/GeneralSans-Variable.woff2') format('woff2'),
         url('../assets/fonts/GeneralSans-Variable.woff') format('woff'),
         url('../assets/fonts/GeneralSans-Variable.ttf') format('truetype');
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
  }

html {
  scroll-behavior: smooth;
  width: 100%;
  font-size: 16px; /*16px to 1 rem*/
}

body {
  width: 100%;
}

* {
    margin: 0;
}

h1 {
    font-family: OverusedGrotesk;
    font-weight: 700;
    font-size: 3.75rem;
  }

h2 {
    font-family: OverusedGrotesk;
    font-weight: 700;
    font-size: 1.875rem;
  }

h3 {
  font-family: OverusedGrotesk;
  font-weight: 550;
  font-size: 1rem;
  color: #a8a8a8;
}

p {
    font-family: GeneralSans;
    font-weight: 500;
  }

/*---------------------------------------------
Nav Bar
---------------------------------------------*/

.nav-bar {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
  background-color: black;
}

.nav-container {
  background-color: black;
  width: 100%;
  max-width: 1228px;
  padding: 27px 20px 25px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-image {
  fill: white;
  width: 80px;
  transition: 0.25s;
  cursor: pointer;
}

.logo-image:hover {
  fill: #FAB517;
}

.main-menu-list {
  display: flex;
  list-style-type: none;
  gap: 50px;
  align-items: center;
  height: 100%;
  margin: 0%;
}

.main-menu-item a {
  font-size: 1rem;
  text-decoration: none;
  background-color: transparent;
  color: white;
  border: none;
  font-family: GeneralSans;
  font-weight: 500;
  position: relative;
  transition: .25s;
  cursor: pointer
}

.main-menu-item a:hover {
  color: #a8a8a8;
}

/*Burger menu*/

.hamburger-menu {
  border: none;
  text-decoration: none;
  background-color: transparent;
  display: none;
  align-items: center;
  flex-direction: column;
  transition: transform 0.3s cubic-bezier(0,.48,.44,1);
  cursor: pointer
}

/*Burger menu animation*/
/*----------------------------------*/

.hamburger-menu.is-active {
  transform: rotate(90deg);
}

.hamburger-menu.is-active #dot-one {
  transform: translate(4px, 4px);
}

.hamburger-menu.is-active #dot-two {
  transform: translate(4px, -4px);
}

.hamburger-menu.is-active #dot-three {
  transform: translate(-4px, 4px);
}

.hamburger-menu.is-active #dot-four {
  transform: translate(-4px, -4px);
}

/*----------------------------------*/

.first-row {
  display: flex;
  gap: 4px;
}

.second-row {
  display: flex;
  gap: 4px;
  padding: 4px 0px;
}

.dot-appearance {
  width: 4px;
  height: 4px;
  background-color: white;
  transition: .25s;
}

.hamburger-menu:hover #dot {
  background-color: #a8a8a8;
}

.hamburger-menu:hover #dot-one {
  background-color: #a8a8a8;
}

.hamburger-menu:hover #dot-two {
  background-color: #a8a8a8;
}

.hamburger-menu:hover #dot-three {
  background-color: #a8a8a8;
}

.hamburger-menu:hover #dot-four {
  background-color: #a8a8a8;
}

/*---------------------------------------------
Hero page stuff
---------------------------------------------*/

.home {
  height: calc(100vh - 70px);
  scroll-margin-block-start: 100vh;
  background-color: black;
  align-items: center;
  justify-content: center;
}

.video-container {
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-hero {
  max-width: 400px;
  min-width: 250px;
}

.row-width {
  max-width: 1228px;
  margin: auto;
  padding: 0px 20px;
  height: 100vh;
}

.content-position {
  position: absolute;
  bottom: 10%;
  padding: 0px 20px 0px 0px;
}

.freelance-container {
  margin: 0px 0px 30px 0px;
  line-height: 1.5;
}

.freelance {
  color: white;
}

.status-container {
  display: flex;
  align-items: center;
}

.freelance-status {
  color: #a8a8a8;
  font-weight: 400;
}

.ball {
  height: 10px;
  width: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-ball {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E83839;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.pulse-ball {
  background-color: #E83839;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  animation: pulse 2.7s infinite cubic-bezier(0,.79,.37,.99);
  /*animation: pulse 2s infinite linear;*/
  transform-origin: 50% 50%;
}

@keyframes pulse {
  from  {transform: scale(1);
         opacity: 100%;}
  to    {transform: scale(3);
         opacity: 0%;}
}


.line-a {
  line-height: 1;
  color: white !important;
}

.line-b {
  line-height: 1.5;
  color: white !important;
  margin: 10px 0px 50px 0px;
}

.hero-button {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
  color: white;
  padding: 15px 60px;
  text-align: center;
  text-decoration: none;
  font-family: OverusedGrotesk;
  font-weight: 100;
  font-size: 1rem;
  transition: all .4s cubic-bezier(.18,.07,.2,.99);
  cursor: pointer
}

.hero-button:hover {
  background-color: white;
  color: black;
  font-weight: 500;
  padding: 15px 80px;
}

/*---------------------------------------------
Introduction
---------------------------------------------*/

.introduction-container {
  margin: 125px auto 10px auto;
  scroll-margin-block-start: 200px;
  max-width: 1228px;
  padding: 0px 20px;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
}

.about-text {
  padding-bottom: 20px;
}

.introduction-container h1 {
  font-size: 5rem;
  line-height: 1.2;
}

.dot-color {
  color: #FAB517;
}

.introduction-mask {
  overflow: clip;
  display: flex;
  align-items: center;
}

.introduction-image {
  height: 60px;
  width: 60px;
}

.introduction-appear {
  animation: introduction-appear .0001s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 25%;

}

.introduction-appear-two {
  animation: introduction-appear .0001s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 25%;

}

.introduction-appear-three {
  animation: introduction-appear .0001s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;

}

.introduction-appear-four {
  animation: introduction-appear .0001s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 35%;
}

@keyframes introduction-appear {
  from   {transform: translateY(100px);
          opacity: 0%;}
  to     {transform: translateY(0);
          opacity: 100%;}
}

.about-seperate {
  max-width: 1228px;
  padding: 0px 20px 20px 20px;
  display: flex;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 0px;
  justify-content: center;
  align-items: center;
}

.skills-wrapper {
  max-width: 1228px;
  padding: 0px 20px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 12px;
}


/*---------------------------------------------
Works Gallery
---------------------------------------------*/

.label-work {
  max-width: 1228px;
  margin: auto;
  padding: 140px 20px 70px 20px;
}

.label-work h1 {
  font-size: 5rem !important;
  line-height: 1;
}

.work {
  position: relative;
  display: flex;
  padding: 0px 0px 5px 0px;
}

.two-works-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 9px;
}

.two-works {
  width: 80%;
}

.work-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.work-name-container {
  position: absolute;
}

.work-name {
  color: transparent;
  transition: .2s;
  text-align: center;
}

.work:hover .work-name {
  color: white;
}

.wide-image {
  filter: brightness(100%);
  transition: .2s;
}

.normal-image {
  filter: brightness(100%);
  transition: .2s;
}

.work:hover .normal-image {
  filter: brightness(50%);
}

.work:hover .wide-image {
  filter: brightness(50%);
}

.image-fit {
  width: 100vw;
}

.normal-image-fit {
  width: 50vw;
}

/*---------------------------------------------
Contacts
---------------------------------------------*/

.quote-wrapper {
  max-width: 1228px;
  padding: 0px 20px;
  display: flex;
  margin: auto;
  margin-top: 100px;
  align-items: end;
  justify-content: space-between;
}

.quote-container h1 {
  line-height: 1;
}

.freelance-container-two {
  padding-left: 20px;
}

.contact-seperate {
  max-width: 1228px;
  padding: 0px 20px;
  display: flex;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 0px;
  justify-content: center;
  align-items: center;
}

.line {
  height: 1px;
  width: 100%;
  background-color: black;
}

.contact-wrapper {
  display: flex;
  margin: auto;
  margin-bottom: 80px;
  max-width: 1228px;
  padding: 0px 20px;
  justify-content: center;
  align-items: center;
}

.contact-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.contact {
  width: 100%;
}

.contact h2 {
  font-size: 1.25rem;
}

.contact h3 {
  line-height: 3.5 !important;
}

.contact-icon {
  height: 11px;
  padding-right: 8px;
}

.contact-icon-triangle {
  height: 11px;
  padding-right: 6px;
}

.fill-container {
  width: 100%;
  padding-left: 20px;
}

.socials {
  width: 100%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.socials a {
  text-decoration: underline 1px;
  text-decoration-color: black;
  transition: .2s;
}

.socials a:hover {
  text-decoration-color: #a8a8a8;
}

.socials a:hover h2 {
  color: #a8a8a8;
}

.socials h3 {
  line-height: 3.5 !important;
}

.socials h2 {
  font-size: 1.25rem;
  color: black;
  transition: .2s;
}

.pages {
  width: 100%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.pages a {
  color: #a8a8a8;
  text-decoration: none;
  cursor: pointer;
}

.pages a:hover h2 {
  color: black;
}

.pages h3 {
  line-height: 3.5 !important;
}

.pages h2 {
  font-size: 1rem;
  font-weight: 600 !important;
  transition: .2s;
  width: fit-content;
}

/*---------------------------------------------
WOOOOOOOOOOOOOOORK PAGE
---------------------------------------------*/
/*---------------------------------------------
WORK - Thumbnail
---------------------------------------------*/

.thumbnail-wrapper {
  width: auto;
}

.thumbnail-container {
  width: auto;
}

.thumbnail {
  width: 100vw;
  display: block;
}

/*---------------------------------------------
WORK - Project Description
---------------------------------------------*/

.project-description-wrapper {
  background-color: black;
  width: 100vw;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-description-container {
  max-width: 1228px;
  width: 100%;
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-description-box {
  width: 100%;
  padding: 30px 0px 60px 0px;
}

.project-name h1 {
  color: white;
  line-height: 1;
}

.project-line-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px 20px 0px;
}

.project-line {
  width: 100%;
  height: 1px;
  background-color: #a8a8a8;
}

.project-details-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.project-details-container p {
  font-family: OverusedGrotesk;
  font-weight: 300;
  color: white;
}

.category-container {
  width: 40%;
}

.category-name {
  padding-bottom: 20px;
}

.synopsis-name {
  padding-bottom: 20px;
}

/*---------------------------------------------
WORK - Big Image
---------------------------------------------*/

.full-image-wrapper {
  max-width: 1228px;
  padding-bottom: 100px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-image {
  width: 100% ;
}

/*---------------------------------------------
WORK - Vimeo
---------------------------------------------*/

.vimeo-wrapper {
  max-width: 1228px;
  padding-bottom: 100px !important;
  margin: auto;
}

/*---------------------------------------------
WORK - Text description for images
---------------------------------------------*/

.text-description-wrapper {
  max-width: 1228px;
  padding: 0px 20px 40px 20px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-description-container {
  width: 100%;
}

.text-description-container p {
  padding-top: 20px;
}

/*---------------------------------------------
WORK - Two images
---------------------------------------------*/

.two-images-wrapper {
  max-width: 1228px;
  padding-bottom: 100px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.two-images-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 9px;
}

.two-images {
  width: calc(50% - 4.5px);
}

/*---------------------------------------------
WORK - Image gallery
---------------------------------------------*/

.images-gallery-wrapper {
  max-width: 1228px;
  padding-bottom: 100px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.images-gallery-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 9px;
}

.gallery-image-container {
  width: calc(33.33% - 6px);
  display: flex;
}

.gallery-image {
  width: 100%;
}

.images-gallery-wrapper-two {
  max-width: 1228px;
  padding-bottom: 100px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.images-gallery-wrapper-two-response {
  max-width: 1228px;
  padding-bottom: 100px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-image-container-two {
  width: calc(50% - 4.5px);
  display: flex;
}

.gallery-image-container-two-response {
  width: calc(50% - 4.5px);
  display: flex;
}

/*---------------------------------------------
MEDIA CHANGE - tablet
---------------------------------------------*/

@media only screen and (max-height: 760px) {

.video-container {
  visibility: hidden;
}

}

@media only screen and (max-width: 820px) {

  .hamburger-menu {
    display: flex;
    z-index: 999;
  }

  .dot-appearance {
    background-color: white;
  }

  .hamburger-menu.is-active .dot-appearance {
    background-color: black;
  }

  .main-menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    top:0;
    left: 0;
    background-color: white;
    transform: translateY(-120%);
    transition: .5s cubic-bezier(.26,.01,0,.97);
  }

  .main-menu.is-active {
    transform: translateY(0);
}

  .main-menu-list {
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 50px;
  }

  .main-menu-item button {
    color: black;
    font-size: 2.5rem;
    font-weight: 600;
  }

  .hero-button:hover {
    background-color: white;
    color: black;
    font-weight: 500;
    padding: 15px 60px;
  }

  .contact-wrapper {
    margin-bottom: 50px;
  }

  .work-name-container {
    padding: 30px 30px;
  }

  .two-works-container {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .normal-image-fit {
    width: 100vw;
  }

  .contact {
    padding-bottom: 30px;
  }

  .socials {
    padding-bottom: 30px;
  }

  .pages {
    padding-bottom: 30px;
  }

  /*---------------------------------------------
  WORKS Section
  ---------------------------------------------*/

  .project-details-container {
    gap: 50px;
  }
  
  .gallery-image-container {
    width: calc(50% - 4.5px);
  }

}

@media only screen and (max-width: 768px) {

  h2 {
    font-size: 1.563rem;
  }

  .label-work h1 {
    font-size: 3.125rem !important;
  }

  .hamburger-menu {
    display: flex;
  }

  .introduction-container h1 {
    font-size: 3.125rem;
  }

  .introduction-image {
    height: 40px;
    width: 40px;
  }

  .quote-wrapper {
    flex-direction: column;
    display: block;
  }

  .freelance-container-two {
    padding: 0;
    padding-top: 20px;
  }

  .contact-container {
    flex-direction: column;
  }

  .fill-container {
    padding-left: 0;
  }

  .socials {
    padding-left: 0;
  }

  .pages {
    padding-left: 0;
  }

}
 
/*---------------------------------------------
MEDIA CHANGE - phone
---------------------------------------------*/

@media only screen and (max-width: 492px) {

  h1 {
    font-size: 3.125rem;
  }

  .video-container {
    align-items: baseline;
    transform: translateY(-7%);
  }

  .fill-container {
    display: none;
  }

  /*---------------------------------------------
  WORKS Section
  ---------------------------------------------*/

  .project-description-wrapper {
    margin-bottom: 60px;
  }

  .project-details-container {
    width: 100%;
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: 40px;
  }

  .category-container {
    width: 100%;
  }

  .full-image-wrapper {
    max-width: 1228px;
    padding-bottom: 60px;
  }

  .two-images-wrapper {
    max-width: 1228px;
    padding-bottom: 60px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .two-images-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 9px;
  }

  .two-images {
    width: 100%;
  }

  .vimeo-wrapper {
    padding-bottom: 60px !important;
  }

  .gallery-image-container {
    width: 100%;
  }

  .images-gallery-wrapper-two {
    padding-bottom: 60px;
  }

  .gallery-image-container-two-response {
    width: 100%;
  }

}

@media only screen and (min-width: 1921px) {

  html {
    font-size: 21.2px;
  }

  .logo-image {
    width: 120px;
  }

  .video-hero {
    max-width: 600px;
    min-width: 300px;
  }

  .hero-button {
    border: 1px solid white;
    padding: 22px 95px;
    font-size: 1rem;
  }

  .nav-container {

    max-width: 1639px;
    padding: 30px 20px 27px 20px;
  }
  
  .row-width {
    max-width: 1639px;
    padding: 0px 20px;
  }
  
  .introduction-container {
    margin: 125px auto 10px auto;
    scroll-margin-block-start: 200px;
    max-width: 1639px;
    padding: 0px 20px;
  }
  
  .about-seperate {
    max-width: 1639px;
    padding: 0px 20px 20px 20px;
  }
  
  .skills-wrapper {
    max-width: 1639px;
    padding: 0px 20px;
  }
  
  .label-work {
    max-width: 1639px;
    padding: 200px 20px 70px 20px;
  }
  
  .quote-wrapper {
    max-width: 1639px;
    padding: 0px 20px;
  
  }
  
  .contact-seperate {
    max-width: 1639px;
    padding: 0px 20px;
  
  }
  
  .contact-wrapper {
  
    max-width: 1639px;
    padding: 0px 20px;
  }

  .contact-icon {
    height: 16px;
    padding-right: 13px;
  }
  
  .contact-icon-triangle {
    height: 16px;
    padding-right: 11px;
  }

  /*--------------------------------------
    WORK
  --------------------------------------*/

  .project-description-container {
    max-width: 1639px;
    width: 100%;
    padding: 0px 20px;
  }
  
  .full-image-wrapper {
    max-width: 1639px;
    padding-bottom: 100px;
  }
  
  .vimeo-wrapper {
    max-width: 1639px;
    padding-bottom: 100px !important;
  }
  
  .text-description-wrapper {
    max-width: 1639px;
    padding: 0px 20px 40px 20px;
  }
  
  .two-images-wrapper {
    max-width: 1639px;
    padding-bottom: 100px;
  }
  
  .images-gallery-wrapper {
    max-width: 1639px;
    padding-bottom: 100px;
  }
  
  .images-gallery-wrapper-two {
    max-width: 1639px;
    padding-bottom: 100px;
  }
  
  .images-gallery-wrapper-two-response {
    max-width: 1639px;
    padding-bottom: 100px;
  }

}

@media only screen and (min-width: 2561px) {

  html {
    font-size: 40px;
  }

  .logo-image {
    width: 180px;
  }

  .video-hero {
    max-width: 850px;
    min-width: 500px;
  }

  .hero-button {
    border: 1px solid white;
    padding: 35px 150px;
    font-size: 1rem;
  }

  .nav-container {

    max-width: 2458px;
    padding: 50px 20px 47px 20px;
  }
  
  .row-width {
    max-width: 2458px;
    padding: 0px 20px;
  }
  
  .introduction-container {
    margin: 125px auto 10px auto;
    scroll-margin-block-start: 200px;
    max-width: 2458px;
    padding: 0px 20px;
  }
  
  .about-seperate {
    max-width: 2458px;
    padding: 0px 20px 20px 20px;
  }
  
  .skills-wrapper {
    max-width: 2458px;
    padding: 0px 20px;
  }
  
  .label-work {
    max-width: 2458px;
    padding: 200px 20px 70px 20px;
  }
  
  .quote-wrapper {
    max-width: 2458px;
    padding: 0px 20px;
  
  }
  
  .contact-seperate {
    max-width: 2458px;
    padding: 0px 20px;
  
  }
  
  .contact-wrapper {
  
    max-width: 2458px;
    padding: 0px 20px;
  }

  .contact-icon {
    height: 26px;
    padding-right: 23px;
  }
  
  .contact-icon-triangle {
    height: 26px;
    padding-right: 21px;
  }

  /*--------------------------------------
    WORK
  --------------------------------------*/

  .project-description-container {
    max-width: 2458px;
    width: 100%;
    padding: 0px 20px;
  }
  
  .full-image-wrapper {
    max-width: 2458px;
    padding-bottom: 100px;
  }
  
  .vimeo-wrapper {
    max-width: 2458px;
    padding-bottom: 100px !important;
  }
  
  .text-description-wrapper {
    max-width: 2458px;
    padding: 0px 20px 40px 20px;
  }
  
  .two-images-wrapper {
    max-width: 2458px;
    padding-bottom: 100px;
  }
  
  .images-gallery-wrapper {
    max-width: 2458px;
    padding-bottom: 100px;
  }
  
  .images-gallery-wrapper-two {
    max-width: 2458px;
    padding-bottom: 100px;
  }
  
  .images-gallery-wrapper-two-response {
    max-width: 2458px;
    padding-bottom: 100px;
  }

}